* {
  margin: 0;
  padding: 0;
}

p, h1, h2, li, text {
  color: #2c2956;
}

text {
  fill: #2c2956;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#root {
  width: 90%;
  margin: 0 auto;
}

.Viz {
  margin: 50px 0;
  overflow: scroll;
  width: 100%;
}

svg {
  height: 400px;
}

.node {

  &.selected {
	.hollow {
	  display: none;
	}
  }

  circle {

	&.Blank {
	  display: none;
	}

	&.Define { fill: #6fd0e6 }
	&.Ideate { fill: #229fdd }
	&.Test { fill: #185c9c }
	&.Critique { fill: #f25152 }
	&.Reflect { fill: #f27c7d }

  }

  text {
	font: 300 25px "Oswald";
	text-transform: uppercase;
  }

  &:hover {
	cursor: pointer;
  }
}

.Description {

  width: 100%;
  margin: 0 auto;

  .header {
	width: 24%;
  }

  .header, .descriptionA, .descriptionB {
	vertical-align: top;
	display: inline-block;
	padding: 0 25px;
  }

  .header, .descriptionA  {
	border-right: 2px solid #2c2956;
	padding-bottom: 40px;
  }

  .header {

	text-align: right;
	text-transform: uppercase;

	color: #2c2956;

	h1 {
	  font: 500 35px "Oswald";
	  line-height: 45px;
	}

	h2 {
	  font: 300 28px "Oswald";
	}
  }

  .descriptionA, .descriptionB {
	width: 38%;

	p, li {
	  margin-top: 5px;
	  font: 500 0.9rem "Crimson Text";
	  line-height: 1.6rem;
	  margin-bottom: 15px;
	}

	h1 {
	  font: 300 1.2rem "Oswald";
	  text-transform: uppercase;
	  margin-bottom: 10px;
	}

	ul {
	  margin-left: 40px;
	}

	img {
	  width: 80%;
	  margin-left: 10%;
	}
  }
}